###############################################################################
# Bacterial Isolate Whole Genome Sequencing Pipeline
# .gitignore
###############################################################################

###############################################################################
# Pipeline Output Directories
###############################################################################

results/*
!results/.gitkeep

###############################################################################
# Input Data
###############################################################################

data/*
!data/.gitkeep

###############################################################################
# Sequence Files
###############################################################################

*.fastq
*.fastq.gz
*.fq
*.fq.gz

###############################################################################
# Alignment Files
###############################################################################

*.sam
*.bam
*.bai

###############################################################################
# Assembly Files (Optional)
#
# Uncomment if assemblies should never be committed.
###############################################################################

# *.fasta
# *.fa
# *.fna

###############################################################################
# Annotation and Intermediate Files
###############################################################################

*.gff
*.gbk
*.gbff
*.faa
*.ffn
*.fna
*.tbl

###############################################################################
# Compressed Files
###############################################################################

*.zip
*.tar
*.tar.gz
*.tgz

###############################################################################
# Temporary Files
###############################################################################

*.tmp
*.temp
*.log
*.out
*.err

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
*.pyo

###############################################################################
# Jupyter
###############################################################################

.ipynb_checkpoints/

###############################################################################
# Conda
###############################################################################

.conda/
.condarc

###############################################################################
# IDEs and Editors
###############################################################################

.vscode/
.idea/

###############################################################################
# R
###############################################################################

.Rhistory
.RData
.Rproj.user/

###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Windows
###############################################################################

Thumbs.db

###############################################################################
# Linux / Vim
###############################################################################

*~
*.swp
*.swo

###############################################################################
# Environment Variables
###############################################################################

.env
.env.*

###############################################################################
# Coverage / Testing
###############################################################################

coverage/
htmlcov/

###############################################################################
# Miscellaneous
###############################################################################

*.bak
*.orig
